apiVersion: apps/v1
kind: Deployment
metadata:
  name: sync-service
  labels:
    app: sync-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sync-service
  template:
    metadata:
      labels:
        app: sync-service
    spec:
      containers:
      - name: sync-service
        image: todo-sync-service:latest
        ports:
        - containerPort: 8000
        env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "my-cluster-kafka-bootstrap:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: sync-service
spec:
  selector:
    app: sync-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP